<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestionFacturacion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GestionFacturacion.My.MySettings.ConnectionStringORACLEDB"
            connectionString="Provider=MSDAORA;Data Source=;Persist Security Info=True;Password=;User ID="
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="siiBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="siiBinding1">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="FacturaSSPPWebServiceProxyBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FacturaSSPPWebServiceProxyBinding1" />
                <binding name="FacturaSSPPWebServiceProxyBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="FacturaSSPPWebServiceProxyBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sede.gobcan.es/tributos/middleware/services/sii/SiiFactFEV1SOAP"
                binding="basicHttpBinding" bindingConfiguration="siiBinding"
                contract="SII_GobCan_WS.siiSOAP" name="SuministroFactEmitidas" />
            <endpoint address="https://sede.gobcan.es/tributos/middlewarecaut/services/sii/SiiFactFEV1SOAP"
                binding="basicHttpBinding" bindingConfiguration="siiBinding1"
                contract="SII_GobCan_WS.siiSOAP" name="SuministroFactEmitidasPrueba" />
            <endpoint address="https://webservice.face.gob.es/facturasspp2"
                binding="basicHttpBinding" bindingConfiguration="FacturaSSPPWebServiceProxyBinding"
                contract="FACE_Gob_WS.FacturaSSPPWebServiceProxyPort" name="FacturaSSPPWebServiceProxyPort" />
            <endpoint address="https://se-face-webservice.redsara.es/facturasspp2"
                binding="basicHttpBinding" bindingConfiguration="FacturaSSPPWebServiceProxyBinding2"
                contract="FACE_Gob_WS_pruebas.FacturaSSPPWebServiceProxyPort"
                name="FacturaSSPPWebServiceProxyPort1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <GestionFacturacion.My.MySettings>
            <setting name="FACE_Gob_WS_Service" serializeAs="String">
                <value>https://webservice.face.gob.es/facturasspp</value>
            </setting>
            <setting name="GestionFacturacion_es_gob_face_webservice_Service"
                serializeAs="String">
                <value>https://webservice.face.gob.es/facturasspp2</value>
            </setting>
            <setting name="GestionFacturacion_org_gobiernodecanarias_www_siiService"
                serializeAs="String">
                <value>https://sede.gobcan.es/tributos/middleware/services/sii/SiiFactFEV1SOAP</value>
            </setting>
        </GestionFacturacion.My.MySettings>
    </applicationSettings>
</configuration>
